@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mulish:ital,wght@0,400;0,800;1,200&display=swap');

:root {
  --yellow: #F4D846;
  --white: #fffee6;
  --black: #212121;
  --pink: #EEC2E0;
  --bluegreen: #BEE5CE;
  --red: #E65339;
  --orange: #E79E3D;
  --border: 0.3em solid var(--black);
  --dropshadow:  0.6em 0.6em 0 var(--black);
  --margin: 2em;
  --minusTop: -9rem;
}

#root {
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1em;
  background: var(--bluegreen) url('../../menstruatiedisk-frontend/src/assets/24pxGrid.png') repeat fixed top;
  color: #111111;
}

.page-title h1 {
  font-size: 1.8em;
  margin: 0.1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 1.7rem;
}
h3 {
  margin-bottom: 0.3rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1em;
}

body a {
  color: var(--black);
}

body a:hover {
  box-shadow: inset 0 -.5em 0 0 var(--bluegreen);
}

strong {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}

/*-----------PAGE-----------*/

.container {
  background-color: var(--white);
  width: 80%;
  max-width: 100ch;
  min-height: 120ch;
  margin: var(--margin);
  box-shadow: var(--dropshadow);
  border: var(--border);
}

.page-content {
  margin: 3ch;
  top: var(--minusTop);
  position: relative;
}

.highlighter {
  box-shadow: inset 0 -.5em 0 0 var(--yellow);
}

.highlighter:hover {
  box-shadow: inset 0 -.5em 0 0 #F69BC9FF;
  transition: all 0.6s;
  color: black;
}

figcaption {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

figcaption::before {
  content: "↑ ";
}

.content-bigbox {
  background-color: var(--yellow);
  box-shadow: var(--dropshadow);
  border: var(--border);
  padding: 3em;
  margin-top: var(--margin);
  width: 110%;
  position: relative;
  left: -5%;
  top: var(--minusTop);
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

/*-----------elementen-----------*/

button, header button:visited {
  background-color: var(--orange);
  padding: 0.8em 1.8em;
  margin: var(--margin);
  box-shadow: var(--dropshadow);
  border: var(--border);
  font-size: 1rem;
  border-radius: 50px;
  color: var(--black);
}

button:hover {
  cursor: pointer;
  transform: translateY(0.1em);
  box-shadow: 0.5em 0.5em 0 var(--black);
}

button:active {
  transform: translateY(0.4em);
  color: var(--black);
  box-shadow: 0.2em 0.2em 0 var(--black);
}

.btn-text::after {
  margin-left: 0.2em;
  content: "→";
}

.bigFont {
  font-size: 8rem;
}

.image-preview {
  width: 100px;
}